/*

    This code is writen by Ahmed Ayob

*/

@use '../../utils' as u;
@use '../../base' as *;

/*

  LazyLoading Img

*/
.lazyLoaingImg-wrapper {
  position: relative;
  display: inline-flex;
  z-index: 0;
  width: 100%;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--c-skeleton);
    z-index: -1;
    animation: pulse 2s linear infinite;
  }

  .lazyLoadingImg {
    width: 100%;

    picture {
      width: 100%;
    }
    &__img {
      width: 100%;
      opacity: 0;
      transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      object-fit: cover;
      object-position: top;
    }
  }

  &.show--img {
    img {
      opacity: 1;
    }

    & ~ .img-banner__layout {
      opacity: 0.5;
    }

    & ~ .img-banner__info {
      opacity: 1;
    }
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.1;
  }

  100% {
    opacity: 0;
  }
}
