/*

    This code is writen by Ahmed Ayob

*/

@use '../../utils' as u;
@use '../../base' as *;

/*

  LazyLoading Img

*/
.lazyLoaingImg-wrapper {
  position: relative;
  display: inline-flex;
  z-index: 0;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--c-skeleton);
    z-index: -1;
    animation: pulse 2s linear infinite;
  }

  .lazyLoadingImg {
    &__img {
      width: clamp(17.6625rem, 8.9317073171rem + 98.89vw, 68.8rem);
      height: clamp(
        24rem,
        20.286585365853657rem + 21.21951219512195vw,
        45.75rem
      );
      opacity: 0;
      transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      object-fit: cover;
      object-position: top;
    }
  }

  &.show--img {
    img {
      opacity: 1;
    }

    & ~ .img-banner__layout {
      opacity: 0.5;
    }

    & ~ .img-banner__info {
      opacity: 1;
    }
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.1;
  }

  100% {
    opacity: 0;
  }
}
