/*

    This code is writen by Ahmed Ayob

*/

@use '../../utils' as u;
@use '../../base' as *;

/*

   Wishlist 
  
*/

.wishlist {
  @include u.container;
  @include u.flex(grid, center);
  margin-block: 3rem 10rem;

  h1 {
    @include u.flex(flex);
    font-size: calc(var(--f-2xl) + 0.7rem);
    font-weight: 600;
    border-bottom: 1px solid var(--c-gray-200);
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
  }

  & > div {
    @include u.flex(grid, center, center);
    gap: 1rem;
    margin-top: 4rem;

    button {
      border-radius: 3px;
    }
  }

  &__products {
    margin-top: 0 !important;
    justify-content: flex-start;
    grid-template-columns: repeat(4, minmax(445px, 1fr));

    &__product {
      @include u.flex(grid, center);
      max-width: 405px;
      width: 405px !important;

      &__buttons {
        @include u.flex(grid, center);
        gap: 0.5rem;
        margin-top: 1rem;

        button {
          @include u.flex(flex, center, center);
          gap: 0.5rem;
          font-size: calc(var(--f-lg) - 0.1rem);
          text-transform: capitalize;
        }
      }

      .swiper__card {
        max-width: 405px;
        width: 405px !important;
        height: fit-content;

        .img__wrapper {
          max-width: 405px;
        }

        h3 {
          font-size: calc(var(--f-lg) + 0.2rem);
        }

        span {
          font-size: calc(var(--f-lg) - 0.1rem);
        }
      }
    }
  }
}
