/*

    This code is writen by Ahmed Ayob

*/

@use "../../utils" as u;
@use "../../base" as *;

/*

   Wishlist 
  
*/

.wishlist {
  @include u.container;
  @include u.flex(grid, center);
  gap: 4rem;
  margin-block: 3rem 10rem;

  h1 {
    @include u.flex(flex);
    font-size: calc(var(--f-2xl) + 0.7rem);
    font-weight: 600;
    border-bottom: 1px solid var(--c-gray-200);
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
  }

  & > div {
    @include u.flex(grid, center, center);
    gap: 1rem;

    button {
      border-radius: 0;
    }
  }
}
