/*

    This code is writen by Ahmed Ayob

*/

@use "../../utils" as u;
@use "../../base" as *;

/*

    Skeleton

*/

.skeleton{
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    background-color: var(--c-skeleton);
    margin: 0 auto;
}

@keyframes pulse {
    50% {
        opacity: .5;
    }
}
