/* ========================= Styleguide ® Code by Ahmed Ayob ================================================== */

/* ========================= Colors ================================================== */

:root {
  --c-black-900: hsl(0, 0%, 13%);
  --c-black-700: hsl(214, 22%, 14%);
  --c-black-300: hsl(0, 0%, 33%);
  --c-gray-200: hsl(0, 0%, 77.3%);
  --c-white: hsl(0, 0%, 100%);
  --c-red-800: #c9162e;
  --c-red-700: 356, 100%, 45%;
  --c-green-600: 150, 100%, 40%;
  --c-skeleton: hsla(218, 21%, 15%, 0.431);
  --c-blue-600: 210, 73%, 62%;
  --c-orange-500: 40, 51%, 87%;

  --animation-fast: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
  --animation-smooth: all 0.7s cubic-bezier(0.7, 0, 0.3, 1);
  --animation-slow: all 0.9s cubic-bezier(0.7, 0, 0.3, 1);
}
