/* ========================= Styleguide ® Code by Ahmed Ayob ================================================== */

/* ========================= Colors ================================================== */

:root {
  --c-black-900: hsl(0, 0%, 13%);
  --c-black-700: hsl(214, 22%, 14%);
  --c-black-300: hsl(0, 0%, 33%);
  --c-white: hsl(0, 0%, 100%);
  --c-red-700: hsl(356, 100%, 45%);
}
