/*

    This code is writen by Ahmed Ayob

*/

@use "../../../utils" as u;
@use "../../../base" as *;

/*

   E-Gifts 

*/

.account__Egifts {
  &__form {
    @include u.flex(grid, center);
    gap: 1rem;

    h2 {
      font-size: calc(var(--f-md) + 0.1rem);
      font-weight: 600;
      padding-top: 1rem;
    }

    p {
      font-size: calc(var(--f-sm));
    }

    span {
      font-size: calc(var(--f-sm));
      color: var(--c-black-300);
    }

    input {
      max-width: 400px;
      border-bottom: 1px solid var(--c-black-300);
      padding: 0.3rem;
      font-size: calc(var(--f-sm) + 0.1rem);
      color: var(--c-black-300);
      -moz-appearance: textfield;

      &::placeholder {
        font-size: calc(var(--f-sm) + 0.1rem);
        color: var(--c-black-300);
      }

      &:focus-visible {
        outline: none;
      }

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        height: 0;
      }
    }

    button {
      border-radius: 3px;
      text-transform: uppercase;
      justify-self: flex-start;
      padding: 1rem 3rem;
      margin-block: 1rem;
    }
  }
}
