/*

    This code is writen by Ahmed Ayob

*/

@use '../../../utils' as u;
@use '../../../base' as *;

/*

    Category Page Side Bar Navigation

*/

.category-page__wrapper__sidebar {
  margin-top: 2rem;
  display: none;
  gap: 2.25rem;
  width: 204px;

  @include u.breakpoint(xlarge) {
    @include u.flex(grid, center);
  }

  & > ul {
    @include u.flex(grid, center);
    gap: 1.2rem;
    width: 100%;

    & > li {
      & > ul {
        & > li {
          & > h4 {
            font-size: var(--f-nor);
            font-weight: 600;
            margin-top: 1.2rem;
          }

          & > a {
            font-size: var(--f-md);
            font-weight: 500;
            color: var(--c-black-700);
            transition: 0.05s ease-out;

            &:hover {
              color: hsla(var(--c-red-700), 1);
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
