/*

    This code is writen by Ahmed Ayob

*/

@use '../../utils' as u;
@use '../../base' as *;

/*

    Swiper 

*/

.trending__section {
  &__header {
    & > h2 {
      text-align: center;
      font-size: 1.2rem;
      font-weight: 600;
    }

    &__filter {
      @include u.flex(flex, center, center);
      gap: 3.5rem;
      margin-bottom: 1rem;

      & > div.filter {
        @include u.flex(flex, center);
        flex-wrap: wrap;
        margin-block: 1.5rem 1rem;
        gap: 1.2rem;

        .active_filter {
          background: #e50010;
          border: transparent;
          color: hsl(0, 0%, 100%);
          cursor: initial;
        }

        .rounded_button {
          padding: 0.7rem 1.3rem;
          font-size: 0.75rem;
          border: 1px solid #56595c;
          border-radius: 10rem;

          &.active_filter {
            border-color: transparent;
          }
        }
      }
    }
  }

  .yrelative {
    margin: auto;
    width: fit-content;

    & > div {
      width: 270px;
      @include u.breakpoint(small) {
      }
      @include u.breakpoint(medium) {
        width: 514px;
      }
      @include u.breakpoint(large) {
        width: 810px;
      }
      @include u.breakpoint(xlarge) {
        width: 1080px;
      }
    }
  }

  &__swiper {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    margin: 0 auto;
    height: 414px;

    @include u.breakpoint-down(xsmall) {
      // width: 270px;
    }
    @include u.breakpoint(medium) {
      grid-auto-columns: calc(100% / 2);
    }
    @include u.breakpoint(large) {
      grid-auto-columns: calc(100% / 3);
    }
    @include u.breakpoint(xlarge) {
      grid-auto-columns: calc(100% / 4);
    }

    & > div {
      place-self: center;
      width: fit-content;
    }

    & > .swiper-slide {
      place-self: center;
    }
  }
}
