/*

    This code is writen by Ahmed Ayob

*/

@use "../../../utils" as u;
@use "../../../base" as *;

/*

   Commenecation Details

*/

.account__change-password {
  display: none;

  & > form {
    @include u.flex(grid, center, flex-start);
    gap: 1rem;

    & > div {
      @include u.flex(grid, center);
      gap: 0.5rem;
    }
    input {
     width: 400px;
    }

    button {
      max-width: 150px;
      border-radius: 3px;
    }
  }
}
