/*

    This code is writen by Ahmed Ayob

*/

@use "../../utils" as u;
@use "../../base" as *;

/*

    Navigation Links

*/

.navigations {
  display: none;
  place-self: center;
  max-width: 100% !important;
  padding-top: 1.8rem;

  & > div:last-child {
    left: 50%;
    transform: translateX(-50%);

    & > div {
      @include u.section;
      width: 100vw;
    }
  }

  &__list {
    &__item {
      &__link {
        & > a {
          border-bottom: 2px solid transparent;
          transition: 0.3s ease;
          padding-bottom: 0.2rem;

          &:hover {
            border-bottom-color: var(--c-black-900);
          }
        }
      }

      &__content {
        @include u.section;
        padding: .1rem 1.9rem 1.9rem 1.9rem;
        height: 700px;

        & > ul {
          @include u.flex(flex, flex-start, flex-start);
          gap: 6rem;
          width: 100%;

          & > li {
            & > ul {
              & > li {
                & > h4 {
                  font-size: var(--f-nor);
                  font-weight: 600;
                  margin-top: 1.5rem;
                }

                & > a {
                  font-size: var(--f-md);
                  font-weight: 500;
                  color: var(--c-black-700);
                  transition: 0.05s ease-out;

                  &:hover {
                    color: hsla(var(--c-red-700), 1);
                    text-decoration: underline;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  @include u.breakpoint("medium") {
    @include u.flex(flex, center, center);

    &__link {
      // font-size: 1rem;
    }
  }
}
