/*

    This code is writen by Ahmed Ayob

*/

@use "../../../utils" as u;
@use "../../../base" as *;

/*

   Magazine

*/

.magazine__section {
  margin-top: 3rem;
  background-color: #f4eddd;

  .magazine__container {
    margin-block: 2rem;
    display: grid;
    align-items: center;
    text-align: center;

    h2 {
      font-size: calc(var(--f-lg) + 0.3rem);
      font-weight: 600;
      margin-bottom: 0.5rem;
    }

    & > a {
      display: flex;
      justify-self: center;
      color: #1e242e;
      font-size: var(--f-lg);
      font-weight: 600;
      width: fit-content;
      border-bottom: 2px solid #1e242e;
      margin-bottom: 3rem;
    }

    & > div {
      display: flex;
      align-items: center;
      gap: 2rem;
    }

    & .magazine__card {
      width: 345px;
      height: 380px;
      background-color: white;
      display: grid;

      img {
        width: 100%;
        object-fit: cover;
      }

      & > div > span {
        display: block;
        font-weight: 500;
        white-space: 5px;
        font-size: var(--f-nor);
        margin-bottom: 0.5rem;
      }

      h3 {
        font-size: calc(var(--f-lg));
        font-weight: 600;
      }

      a {
        @include u.flex(flex, center, center);
        color: #1e242e;
        gap: 0.5rem;
        margin-bottom: 1rem;

        span {
          font-weight: 700;
          font-size: calc(var(--f-nor) - 0.1rem);
        }

        img {
          width: 15px;
          margin-bottom: -0.2rem;
        }
      }
    }
  }
}
