/*

    This code is writen by Ahmed Ayob

*/

@use "../../utils" as u;
@use "../../base" as *;

/*

   product Shop page 
  
*/

.products-show {
  @include u.container;

  & > span {
    @include u.flex(flex, center);
    place-content: center;
    font-size: var(--f-nor);
  }

  &__wrapper {
    margin-block: 3rem;
    @include u.flex(grid, flex-start);
    gap: 9rem;
    margin-bottom: 4rem;

    &__main {
      @include u.flex(flex, flex-start);
      gap: 2rem;
      flex: 2 2 1;

      &__imgs {
        @include u.flex(grid, flex-start);
        grid-template-columns: repeat(2, 4fr);
        gap: 2rem;

        flex: 2;

        .lazyLoadingImg__img {
          width: 589px;
        }

        &__info {
          @include u.section;
          @include u.flex(flex, flex-start, flex-start);
          flex-direction: column;
          gap: 1rem;
          grid-column: 1 /3;

          * {
            color: var(--c-black-700);
            text-transform: capitalize;
          }

          & > p {
            font-size: calc(var(--f-xl));
          }

          & > div {
            @include u.flex(flex, center);
            gap: 0.5rem;
          }

          & > button {
            padding: 0;
            border-radius: 3px;
          }
        }
      }

      &__info {
        @include u.flex(grid, flex-start);
        gap: 0.7rem;
        flex: 1;

        & > h1 {
          font-size: calc(var(--f-lg) + 0.1rem);
        }

        &__prize {
          & > div {
            @include u.flex(flex, center, flex-start);
            gap: 0.5rem;

            & > h2 {
              font-size: calc(var(--f-lg) - 0.08rem);
            }

            h2:not(h2:first-child),
            span {
              color: hsla(var(--c-red-700), 1);
            }
          }

          & > span {
            font-size: calc(var(--f-nor) - 0.08rem);
            color: var(--c-black-300);
          }
        }

        &__package-type {
          @include u.flex(flex, center, flex-start);
          gap: 0.7rem;
          font-size: calc(var(--f-nor));
          font-weight: 500;
          color: var(--c-black-300);
          border: 1px solid hsla(var(--c-blue-600), 1);
          max-width: fit-content;
          padding: 0.4rem 1rem;
          // background-color: hsla(210, 73.2%, 62%, 0.07);
          background-color: hsla(var(--c-blue-600), 0.07);

          svg {
            stroke-width: 1px;
            stroke: var(--c-black-300);
          }
        }

        &__review {
          @include u.flex(flex, center);
          gap: 1rem;
          font-size: var(--f-nor);

          & > div {
            position: relative;
            @include u.flex(flex, center);

            .MuiRating-iconFilled svg {
              fill: var(--c-black-700);
            }

            svg {
              color: var(--c-black-700);
              stroke-width: 1px;
            }
          }

          & > button {
            padding: 0;
          }

          .skeleton {
            width: 285px;
            height: 40px;
          }
        }

        &__varients {
          @include u.flex(flex, flex-end, space-between);
          margin-bottom: 0.7rem;

          & > div {
            @include u.flex(grid, center);
            gap: 0.5rem;

            & > div {
              @include u.flex(flex, center);
              gap: 0.5rem;

              button {
                height: 100%;

                .lazyLoaingImg-wrapper {
                  pointer-events: none;

                  & > picture {
                    img {
                      width: 60px;
                      height: auto;
                      cursor: pointer;
                      border: 1px solid transparent;

                      &.active {
                        border-color: var(--c-black-300);
                      }
                    }
                  }
                }
              }
            }
          }

          & > div {
            button {
              font-size: calc(var(--f-nor) - 0.1rem);
              padding: 0;
            }
          }
        }

        &__sizes {
          @include u.flex(grid, center);
          gap: 0.5rem;
          margin-bottom: 0.7rem;

          & > span {
            font-size: calc(var(--f-nor));
          }

          & > div {
            @include u.flex(flex, center);
            gap: 0.5rem;

            & > button {
              border: 1px solid var(--c-black-300);
              border-radius: 3px;

              &.active {
                background-color: var(--c-black-700);
                color: var(--c-white);
              }
            }
          }
        }

        &__buttons {
          @include u.flex(flex, center);
          gap: 2rem;
          margin-bottom: 0.7rem;

          svg {
            stroke-width: 1.5px;
          }

          & > div {
            @include u.flex(grid, center);
            gap: 1rem;

            & > button {
              @include u.flex(flex, center, center);
              gap: 0.5rem;
              width: 250px;
              border-radius: 3px;

              &:last-child {
                border: 1px solid var(--c-black-300);
              }
            }
          }

          & > button {
            @include u.flex(flex, center, center);
            gap: 0.5rem;
            width: 150px;
            border-radius: 3px;
          }
        }

        &__recovery {
          @include u.flex(flex, center);
          gap: 0.8rem;
          font-size: calc(var(--f-nor));
        }

        &__accord {
          border-top: 1px solid #e9e9ed;
          margin-top: 2rem;

          button {
            &:hover {
              text-decoration-line: none;
            }

            & > div {
              @include u.flex(flex, flex-start);
              flex-direction: column;
              gap: 0.6rem;

              label:first-child {
                font-size: calc(var(--f-lg) - 0.01rem);
              }

              label:last-child {
                color: var(--c-black-300);
              }
            }
          }

          & .box {
            @include u.flex(flex, center);
            gap: 0.9rem;
            padding: 0.7rem;
            border: 1px solid hsla(var(--c-blue-600), 1);
            background-color: hsla(var(--c-blue-600), 0.07);
            margin-top: 1rem;
            width: fit-content;

            &:nth-last-child(2) {
              border-color: hsla(var(--c-green-600), 1);
              background-color: hsla(var(--c-green-600), 0.07);
            }

            span {
              width: 275px;

              &:first-child {
                font-size: calc(var(--f-lg) - 0.2rem);
              }

              &:last-child {
                color: var(--c-black-300);
                font-size: calc(var(--f-nor) - 0.2rem);
              }
            }

            & > svg {
              stroke-width: 1px;
            }

            & > div {
              @include u.flex(grid, center);
              gap: 0.1rem;
            }
          }

          & .click-and-collect {
            margin-top: 1rem;

            label {
              font-size: calc(var(--f-lg) - 0.1rem);
            }

            div {
              @include u.flex(flex, flex-start);
              margin-top: 0.3rem;

              * {
                border-radius: 3px;
              }

              input:focus-visible {
                box-shadow: none;
              }

              button {
                padding-inline: 2.5rem;
              }
            }
          }
        }
      }
    }

    &__second {
      @include u.section;
      @include u.flex(grid, center);
      gap: 3rem;

      .skeleton__wrapper {
        @include u.flex(grid, center);
        gap: 2rem;

        div {
          width: 100%;
          height: 300px;
        }
      }

      & > button {
        border-radius: 3px;
        width: 200px;
        place-self: center;
      }

      &__reviews {
        @include u.flex(flex, flex-start, flex-start);
        flex-direction: column;
        gap: 1rem;

        & > span {
          font-size: calc(var(--f-xl));
          padding-bottom: 0.8rem;
          border-bottom: 1px solid var(--c-black-300);
        }

        & > div {
          width: 100%;
          @include u.flex(flex, center, space-between);
          gap: 1rem;

          & > .rate {
            @include u.flex(grid, center);

            & > div {
              & > div {
                @include u.flex(flex, center);
                gap: 1rem;

                .MuiRating-iconFilled svg {
                  fill: var(--c-black-700);
                }

                svg {
                  color: var(--c-black-700);
                  stroke-width: 1px;
                }
              }
            }
          }

          & > button {
            border-radius: 3px;
            padding-inline: 2rem;
          }
        }
      }

      &__items {
        @include u.flex(grid, center);
        border-top: 1px solid var(--c-black-300);

        & > li:first-child {
          padding-top: 3rem;
        }

        & > li {
          @include u.flex(flex, flex-start, space-between);
          border-bottom: 1px solid var(--c-black-300);
          padding-bottom: 3rem;
          margin-bottom: 3rem;

          & > div:first-child {
            width: 50%;
            @include u.flex(grid, center);
            gap: 1rem;

            h3 {
              font-size: calc(var(--f-xl) + 0.1rem);
              text-decoration: underline;
              cursor: pointer;
            }

            & > div {
              @include u.flex(grid, center);
              gap: 1rem;

              span {
                text-transform: capitalize;
              }
            }
          }

          & > div:last-child {
            width: 50%;
            @include u.flex(grid, center);
            gap: 0.5rem;

            & > div:first-child {
              @include u.flex(flex, center);
              gap: 1rem;
              font-size: calc(var(--f-nor) + 0.1rem);

              .MuiRating-iconFilled svg {
                fill: var(--c-black-700);
              }

              svg {
                color: var(--c-black-700);
                stroke-width: 1px;
              }

              .rating {
                margin-top: -0.4rem;
              }
            }

            & > div:nth-child(2) {
              @include u.flex(grid, center);

              h4 {
                font-size: calc(var(--f-xl) - 0.03rem);
                text-transform: capitalize;
              }

              span {
                font-size: calc(var(--f-nor) - 0.03rem);
                color: var(--c-black-300);
                margin-bottom: 0.5rem;
              }

              p {
                font-size: calc(var(--f-lg) - 0.06rem);
                color: var(--c-black-300);
                margin-bottom: 1rem;
              }
            }

            & > div:nth-child(3) {
              @include u.flex(flex, center);
              gap: 2.5rem;

              & > div {
                @include u.flex(flex, center);
                gap: 0.5rem;

                & > button {
                  @include u.flex(flex, center);
                  gap: 0.3rem;
                  border-radius: 3px;

                  span {
                    text-decoration: underline;
                  }

                  &.active-green {
                    color: hsla(var(--c-green-600), 1);
                    background-color: hsla(var(--c-green-600), 0.1);
                  }

                  &.active-red {
                    color: hsla(var(--c-red-700), 1);
                    background-color: hsla(var(--c-red-700), 0.1);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.share__wrapper {
  @include u.section;
  max-width: 550px;
  button {
    &.yopacity-70 {
      padding: 0;
    }
    padding: 0.9rem;
    height: auto;
  }

  & > div {
    @include u.flex(grid, center);
    gap: 2rem;
  }

  &__buttons {
    @include u.flex(flex, center, center);
    gap: 1rem;

    button {
      border-radius: 50%;
    }
  }

  &__input {
    @include u.flex(flex, center);
    gap: 0.5rem;

    button {
      padding-inline: 0.7rem;
      height: 2.5rem;
    }
  }
}

.animate-spin {
  animation: spin 2s linear infinite;

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
