/*

    This code is writen by Ahmed Ayob

*/

@use '../../utils' as u;
@use '../../base' as *;

/*

   product Shop Second Items
  
*/
.products-show__wrapper__second__items {
  @include u.flex(grid, center);
  border-top: 1px solid var(--c-black-300);

  & > li:first-child {
    padding-top: 3rem;
  }

  & > li {
    @include u.flex(flex, flex-start, space-between);
    border-bottom: 1px solid var(--c-black-300);
    padding-bottom: 3rem;
    margin-bottom: 3rem;

    & > div:first-child {
      width: 50%;
      @include u.flex(grid, center);
      gap: 1rem;

      h3 {
        font-size: calc(var(--f-xl) + 0.1rem);
        text-decoration: underline;
        cursor: pointer;
      }

      & > div {
        @include u.flex(grid, center);
        gap: 1rem;

        span {
          text-transform: capitalize;
        }
      }
    }

    & > div:last-child {
      width: 50%;
      @include u.flex(grid, center);
      gap: 0.5rem;

      & > div:first-child {
        @include u.flex(flex, center);
        gap: 1rem;
        font-size: calc(var(--f-nor) + 0.1rem);

        .MuiRating-iconFilled svg {
          fill: var(--c-black-700);
        }

        svg {
          color: var(--c-black-700);
          stroke-width: 1px;
        }

        .rating {
          margin-top: -0.4rem;
        }
      }

      & > div:nth-child(2) {
        @include u.flex(grid, center);

        h4 {
          font-size: calc(var(--f-xl) - 0.03rem);
          text-transform: capitalize;
        }

        span {
          font-size: calc(var(--f-nor) - 0.03rem);
          color: var(--c-black-300);
          margin-bottom: 0.5rem;
        }

        p {
          font-size: calc(var(--f-lg) - 0.06rem);
          color: var(--c-black-300);
          margin-bottom: 1rem;
        }
      }

      & > div:nth-child(3) {
        @include u.flex(flex, center);
        gap: 2.5rem;

        & > div {
          @include u.flex(flex, center);
          gap: 0.5rem;

          & > button {
            @include u.flex(flex, center);
            gap: 0.3rem;
            border-radius: 3px;

            span {
              text-decoration: underline;
            }

            &.active-green {
              color: hsla(var(--c-green-600), 1);
              background-color: hsla(var(--c-green-600), 0.1);
            }

            &.active-red {
              color: hsla(var(--c-red-700), 1);
              background-color: hsla(var(--c-red-700), 0.1);
            }
          }
        }
      }
    }
  }
}
