/*

    This code is writen by Ahmed Ayob

*/

@use "../../../utils" as u;
@use "../../../base" as *;

/*

   Address Book 

*/

.account__address {
  @include u.flex(grid, center);

  input,
  button:not([role="combobox"]) {
    border: 0;
  }
  input,
  button {
    border-radius: 3px;
    width: 400px;
  }

  & > form {
    @include u.flex(grid, center, flex-start);
    gap: 1.5rem;

    div {
      @include u.flex(grid, center);
      gap: 0.5rem;

      label {
        font-size: calc(var(--f-sm) + 0.1rem);
      }

      input {
        border-bottom: 1px solid var(--c-black-300);
      }

      &:last-child {
        @include u.flex(flex, center);
      }
    }
  }
}
