/*

    This code is writen by Ahmed Ayob

*/

@use '../../../utils' as u;
@use '../../../base' as *;

/*

    Styled By You

*/

.styledByYou__section {
  --swiper-navigation-size: 18px;
  @include u.section;
  max-width: 1300px;
  @include u.flex(flex, flex-start, space-between);
  gap: 1rem;
  margin-block: 1rem 3rem;
  @include u.flex(grid);

  .swiper-button-prev,
  .swiper-button-next {
    top: var(--swiper-navigation-top-offset, 50%);
  }

  &__header {
    @include u.flex(grid, center, space-between);
    max-width: 300px;
    height: 100%;

    h3 {
      font-size: var(--f-xl);
      font-weight: 600;
    }

    a {
      font-size: var(--f-nor);
      text-decoration: underline;
    }
  }

  &__content {
    max-width: 797px;

    &__swiper {
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: 100%;

      @include u.breakpoint(medium) {
        grid-auto-columns: calc(100% / 2);
      }
      @include u.breakpoint(large) {
        grid-auto-columns: calc(100% / 3);
      }
      margin: 0;

      &__slide {
        position: relative;
        width: 252px !important;
        height: 252px !important;
        cursor: pointer;

        .img__wrapper img {
          width: 252px !important;
          height: 252px !important;
          object-fit: cover;
          object-position: top;
        }

        & > .card__info {
          @include u.flex(grid, cneter, center);
          place-content: center;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5);
          opacity: 0;
          transition: opacity 0.3s ease-out;

          button {
            font-size: var(--f-lg);
            color: var(--c-white);
          }
        }

        &:hover > .card__info {
          opacity: 1;
        }
      }
    }
  }
}
