/*

    This code is writen by Ahmed Ayob

*/

@use '../../utils' as u;
@use '../../base' as *;

/*

    Banner Deals

*/

.banner-deals {
  @include u.section;
  @include u.flex(grid, center, center);
  text-align: center;
  height: 68px;
  overflow: hidden;

  @include u.breakpoint('medium') {
    grid-template-columns: 1fr 1fr;
  }

  @include u.breakpoint('large') {
    grid-template-columns: 1fr 1fr 1fr;
  }

  &__link {
    font-size: var(--f-md);
    padding-bottom: 1rem;

    @include u.breakpoint('xlarge') {
      font-size: initial;
    }
  }
}
