/*

    This code is writen by Ahmed Ayob

*/

@use "../../utils" as u;
@use "../../base" as *;

/*

    Banner Deals

*/

.banner-deals {
    margin-top: 1.8rem;

    @include u.breakpoint("medium") {
        width: 600px;
    }

    @include u.breakpoint("large") {
        width: 960px;
    }

    & .swiper-slide {
        @include u.flex(flex, center, center);
        text-align: center;

        @include u.breakpoint("large") {
            width: fit-content !important;
        }
    }

    &::-webkit-scrollbar {
        display: none;
    }

    &__link {
        font-size: var(--f-body);

        @include u.breakpoint("large") {
            font-size: initial;
        }
    }
}
