/*

    This code is writen by Ahmed Ayob

*/

@use '../../utils' as u;
@use '../../base' as *;

/*

   Footer

*/

footer {
  background-color: #e4e4e4;

  .footer__container {
    @include u.section;
    padding-block: 4rem;

    @include u.breakpoint('large') {
      max-width: 85%;
    }

    nav {
      margin-bottom: 8rem;
      @include u.flex(grid, center);
      gap: 3.5rem;

      @include u.breakpoint('xlarge') {
        @include u.flex(flex, flex-start, space-between);
      }

      @include u.breakpoint('xlarge') {
        gap: 13.5rem;
      }

      & > div:first-child {
        width: 100%;
        @include u.flex(grid, center);
        gap: 2rem;

        @include u.breakpoint('small') {
          align-items: flex-start;
          grid-template-columns: repeat(2, 1fr);
        }
        @include u.breakpoint('medium') {
          align-items: flex-start;
          grid-template-columns: repeat(3, 1fr);
        }

        @include u.breakpoint('large') {
          @include u.flex(flex, flex-start, space-between);
        }

        @include u.breakpoint('xlarge') {
          max-width: 55%;
        }

        & > div {
          @include u.flex(grid, center);
          gap: 0.8rem;

          p {
            font-weight: 500;
            color: #1e242e;
            font-size: calc(var(--f-nor) - 0.1rem);
          }

          h5 {
            font-weight: 600;
            font-size: calc(var(--f-nor));
          }
        }

        .copyright {
          p {
            font-size: calc(var(--f-nor) - 0.08rem);
          }

          p:last-child {
            font-weight: 600;
            font-size: calc(var(--f-nor) - 0.02rem);
          }
        }
      }

      & > div:last-child {
        @include u.breakpoint('medium') {
          max-width: fit-content;
          place-self: center;
        }

        // @include u.breakpoint('large') {
        //   max-width: 38%;
        // }
        @include u.breakpoint('xlarge') {
          max-width: 300px;
        }

        h5 {
          margin-bottom: 0.75rem;
        }

        p {
          margin-bottom: 1rem;

          @include u.breakpoint('medium') {
            margin-bottom: 3rem;
          }
        }

        & > div {
          & > form {
            & > div {
              @include u.flex(flex, center, center);

              & > input {
                height: 38px;
                width: 150px;
                border-bottom: 1px solid #1e242e;
                padding: 0.5rem;
                border-radius: 0;

                &::placeholder {
                  font-size: var(--f-sm);
                  font-weight: 600;
                  color: #1e242e;
                }

                &:focus {
                  outline: none;
                }

                @include u.breakpoint('small') {
                  width: 200px;

                  &::placeholder {
                    font-size: var(--f-nor);
                  }
                }
              }

              & > button {
                width: 100px;
                border-radius: 3px;
                font-size: var(--f-sm);
                background-color: #1e242e;
                padding: 0.3rem;
                font-weight: 600;
                color: white;

                @include u.breakpoint('medium') {
                  font-size: var(--f-nor);
                  padding: 0.5rem;
                }
              }
            }
          }
        }
      }
    }

    .footer__bottom {
      @include u.flex(grid, center, center);
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
      text-align: center;

      h6 {
        font-size: var(--f-nor);
        margin-bottom: 0.4rem;
        font-weight: 600;
        color: #1e242e;
      }

      & > p {
        font-size: var(--f-sm);
        color: #1e242e;

        &:nth-child(2) {
          margin-bottom: 0.6rem;
          font-size: 0.7rem;
          font-weight: 600;
        }

        &:nth-child(3) {
          margin-bottom: 0.9rem;
        }

        &:nth-child(3) {
          margin-bottom: 0.9rem;
        }
      }

      & > a {
        @include u.flex(grid);
        justify-self: center;

        img {
          @include u.flex(flex);
          justify-self: center;
          width: 150px;
          margin: 0.6rem;
        }
      }

      & > div {
        @include u.flex(flex, center);
        place-content: center;
        gap: 0.75rem;
        margin-bottom: 1.5rem;
      }
    }
  }
}
