/*

    This code is writen by Ahmed Ayob

*/

@use '../../utils' as u;
@use '../../base' as *;

/*

    Category Page

*/

.category-page {
  @include u.container;

  & > span {
    @include u.flex(flex, center);
    place-content: center;
    font-size: var(--f-nor);
  }

  &__wrapper {
    margin-block: auto;
    @include u.flex(flex, flex-start);
    gap: clamp(15rem, -12.899999999999999rem + 31vw, 24.3rem);
  }
}
