/*

    This code is writen by Ahmed Ayob

*/

@use "../../utils" as u;
@use "../../base" as *;

/*

   Write Review Wrapper 
  
*/

.write-review {
  max-width: 1100px;

  &__title {
    text-transform: capitalize;
  }

  &__wrapper {
    @include u.flex(flex, flex-start, space-between);
    gap: 3rem;

    &__img {
      width: 50%;

      h2 {
        font-size: calc(var(--f-lg) + 0.01rem);
        padding-top: 0.5rem;
      }
    }

    &__form {
      width: 100%;

      & > form {
        @include u.flex(grid, center);
        gap: 1rem;

        div.rating {
          & > label {
            display: inline-block;
            padding-bottom: 0.5rem;
            font-size: calc(var(--f-nor) + 0.01rem);
          }

          .MuiRating-iconFilled svg {
            fill: var(--c-black-700);
          }

          svg {
            color: var(--c-black-700);
            stroke-width: 1px;
          }
        }

        .info {
          @include u.flex(grid, center);
          gap: 1rem;
        }

        .recommend {
          @include u.flex(flex, center, space-between);
          gap: 1rem;

          & > div {
            @include u.flex(flex, center);
            gap: 0.7rem;

            button {
              width: 93px;
            }
          }
        }

        .user {
          @include u.flex(grid, center);
          gap: 0.8rem;
          border-block: 1px solid var(--c-black-300);
          padding-block: 1rem;

          & > div {
            @include u.flex(flex, center);
            gap: 1rem;
          }
        }

        .product {
          @include u.flex(grid, center);
gap: .8rem;

          & > div {
            @include u.flex(grid, center);
            gap: 1rem;

            & > div {
              @include u.flex(flex, center);
              gap: 4rem;

              & > label {
                width: 100px;
              }

              & > div > div {
                @include u.flex(flex, center, space-between);
                gap: 3rem;

                & > div {
                  @include u.flex(flex, center);
                  width: 100px;
                  gap: 0.5rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
